* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a5b4fcad;
  /* background-image: url(../images/img1.jpg); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* top: 60px; */
  position: relative;
}

.new-form h3 {
  border-bottom: 5px solid rgb(247, 116, 29);
  margin-top: -9px;
  font-size: 30px;
}

.sideimg img {
  height: 600px;
  width: 550px;
  border-right: 5px solid #172554af;
  margin: 0px 30px 0px -0px;
  padding-right: 26px;
  padding-bottom: 13px;
  display: flex;
  justify-self: start;
  align-self: start;
}
.new-form {
  width: 43%;
  background-color: #172554dc;
  padding: 15px;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-form h3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

.name-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-name {
  height: 30px;
  width: 42.1%;
  margin: 10px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
}

.last-name {
  height: 30px;
  width: 42.1%;
  margin: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
}

.field {
  height: 30px;
  width: 85%;
  margin: 5px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 17px;
}

.gender span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px 15px;
}

.gender {
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
}

.gender label {
  font-size: 25px;
  margin: 0px;
  margin-left: 10px;
}

.gender span {
  font-size: 25px;
  margin: 15px;
}

.gender #gender1,
#gender2 {
  margin: 7px -5px;
  height: 25px;
  width: 25px;
}

.birth-day {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  float: left;
  margin-top: 10px;
  width: 85%;
}

.birth-day h4 {
  margin-left: -10px;
  font-size: 25px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.birth-day label {
  font-size: 25px;
  margin: 4px;
  margin-left: 6px;
  color: white;
}

.birth-day input {
  height: 15px;
  width: 40.7px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 4px;
  margin-top: 4px;
  margin-right: 5px;
}

.sing-up {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

.create {
  margin: 10px 0px 0px -9px;
  height: 50px;
  width: 250px;
  padding: 10px;
  font-weight: bold;
  color: #082f49;
  background-color: #11e91c;
  border: none;
  font-size: 25px;
  border-radius: 10px;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 140px;
  margin: 10px -11px 0px 0px;
  color: white;
  background-color: rgba(9, 9, 250, 0.952);
  border: none;
  font-size: 25px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sing-up h4 {
  color: azure;
  font-size: 30px;
}

.sing-up a {
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #1e3a8a;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 1000;
  position: relative;
}

.container > .first-ul {
  width: 600px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first-ul li {
  float: left;
  list-style-type: none;
  width: 20%;
}

.first-ul > li > a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 1.2em;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#logining {
  background-color: #0d6efd;
  border-radius: 20px;

  height: 40px;
  margin: 0 4px;
}
#logining:hover {
  background-color: #fd7e14;
}

.first-ul .list-item:hover {
  background-color: #e56b6f;
}

.img-logo {
  height: 50px;
  width: 65px;
  border-radius: 10px;
  position: absolute;
  margin: 0px 20px;
  background-color: rgb(250, 250, 250);
  padding: 5px;
}

.topimg {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
}

.secend-ul {
  overflow: hidden;
  background-color: #082f99;
  top: 60px;
  width: 120px;
  max-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
}

#categories:hover .secend-ul {
  overflow: visible;
  max-height: 300px;
  position: absolute;
  transition: max-height 0.4s ease-out;
}

.secend-ul li {
  list-style: none;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secend-ul :last-child {
  border-radius: 0px 0px 6px 6px;
}

.secend-ul > li > a {
  text-decoration: none;
  color: rgb(245, 239, 239);
  font-family: Arial, Helvetica, sans-serif;
}

.secend-ul > li:hover {
  background-color: #e56b6f;
}

#categories li a {
  visibility: hidden;
  opacity: 0;
}

#categories:hover a {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1.1s ease-out;
}

li a :active,
li a:checked {
  background-color: #e56b6f;
}
